@import "../../../../../../GlobalStyles/spacing.scss";
@import "./colors.scss";
@import "./ArrowButton.scss";

$box-size: 40px;

.Circle {
  display: flex;
  width: $box-size;
  height: $box-size;
  border-radius: spacing(extraLoose);
}

@each $colorName, $color in $colors {
  .Circle--#{$colorName} {
    background: map-get($color, $colorName);
  }
}
