@import "../../../GlobalStyles/spacing.scss";
@import "../../../GlobalStyles/alignment.scss";

.CenterElements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: spacing(loose);
}

.Title {
  padding-bottom: spacing(loose);
}

.FullWidth {
  width: 100%;
}