@import "../../../GlobalStyles/spacing.scss";

$large-spacing: 200px;

.CenterCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: $large-spacing;
  height: 100vh;
}

.CenterElements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: spacing(loose);
}

.Title {
  padding-bottom: spacing(loose);
}

.FullWidth {
  width: 100%;
}