@import "../../../GlobalStyles/spacing.scss";
@import "../../../GlobalStyles/alignment.scss";

$pageWidth: 350px;

.CardElements {
  margin: spacing(loose);
  width: $pageWidth;
}

.EndStateText {
  padding: spacing();
}

.ProgressBarContainer {
  margin-top: spacing(extraLoose);
  width: $pageWidth + (spacing(loose) * 2);
}

.ProgressText {
  margin-bottom: spacing(extraTight);
}