@import "../../../../../GlobalStyles/spacing.scss";

.StackElement {
  margin: spacing(tight) 0;
}

.ModalFooterArea {
  display: flex;
  justify-content: flex-end;
}

.PracticeButton {
  padding-right: spacing(tight);
}
