@import "../../../../../GlobalStyles/spacing.scss";
@import "../../../../../GlobalStyles/colors.scss";

$box-size: 40px;
$arrow-button-height: 30px;

.StackElement {
  margin: spacing(tight) 0;
}

.Circle {
  display: flex;
  width: $box-size;
  height: $box-size;
  border-radius: spacing(extraLoose);
}

.Circle--blue {
  background: color(blue);
}

.Circle--green {
  background: color(green);
}

.Circle--red {
  background: color(red);
}

.ArrowButton {
  list-style: none;
  cursor: pointer;
}

.ArrowButton li,
.ArrowButton a {
  position: relative;
  height: $arrow-button-height;
  line-height: $arrow-button-height;
  float: left;
}

.ArrowButton a {
  padding: 0 spacing();
  background: color(blue);
  color: white;
  text-decoration: none;
  border-bottom-right-radius: spacing(extraTight);
  border-top-right-radius: spacing(extraTight);
  box-shadow: 2px 2px 5px grey;
}

.ArrowButton a:before {
  content: "";
  float: left;
  position: absolute;
  left: -($arrow-button-height/2);
  border-color: transparent color(blue);
  border-style: solid;
  border-width: $arrow-button-height/2;
  border-left-width: 0;
}

.ArrowButton a:hover {
  background: color(blue, dark);
}

.ArrowButton a:hover:before {
  border-color: transparent color(blue, dark);
}
